@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h4>Add new treat</h4>

@using (Html.BeginForm())
{
  <div class="mb-3">
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  </div>

  <input type="submit" value="Add new treat" class="btn btn-primary" />
}

<p>@Html.ActionLink("Show all treats", "Index")</p>