@import url('https://fonts.googleapis.com/css2?family=Roboto:,wght@5,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

label {
  margin-right: 10px;
  margin-left: 5px;
}

.form-inline {
  display: inline;
}
h2{
  text-align: center;
  
}
.mainlogo {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

